:root {
  /* COLOR VARIABLES */
  /* Main Colors */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellos: #EABD5F;
  /* Base Colors */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
}

html {
  background-color: var(--gray-200);
}

.red-highlight { color: var(--red); }
.purple-highlight { color: var(--purple);}