/* Intro Icons */
.ph-caret-double-down {
  font-size: 23px;
  color: var(--gray-400);
  text-align: center;
}

/* Services Icons */
.ph-devices {
  font-size: 44px;
  color: var(--purple);
}
.ph-hard-drives {
  font-size: 36px;
  color: var(--yellow);
}
.ph-infinity {
  font-size: 45px;
  color: var(--green);
}

/* Contacts Icons */
.ph-linkedin-logo {
  font-size: 23px;
  color: var(--gray-400);
  margin-right: 12px;
}
.ph-instagram-logo {
  font-size: 23px;
  color: var(--gray-400);
  margin-right: 12px;
}
.ph-github-logo {
  font-size: 24px;
  color: var(--gray-400);
  margin-right: 12px;
}
.ph-envelope-simple {
  font-size: 23px;
  color: var(--gray-400);
  margin-right: 12px;
}
.ph-arrow-up-right {
  font-size: 20px;
  color: var(--gray-400);
  margin-left: 12px;
  color: var(--blue);
}