.container {
  width: 1366px;
  margin: 0 auto;
  /* border: 1px solid yellow;  */
}

#profile {
  position: relative;
  margin-bottom: 56px;

  & :nth-child(2) {
    position: absolute;
    left: 580px;
    bottom: 0;
  }

}

/* My Intro Section */
#intro {
  height: 750px;
  padding: 140px 120px 0 120px;
  text-align: center;
  /* background-color: blue; */
  /* border: 1px solid white; */
}

.techs {
  display: flex;
  margin-top: 80px;
  margin-bottom: 94px;
  /* max-width: 754px; */
  /* border: 1px solid yellow; */
  justify-content: center;
  gap: 16px;

  & img {
    fill: yellow
  }

}
.tech {
  display: flex;
  padding: 8px 16px;
  border-radius: 999px;
  background-color: var(--gray-300);
  align-items: center;
  gap: 10px;
}

/* My work section */
#work { 
  height: 917px;
  padding: 72px 120px 144px 120px;
}

.cards {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  background-color: var(--gray-300);
  width: 330px;
  height: 280px;
  border-radius: 12px;
  padding: 12px;

  & img {
    max-width: 306px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  & h3 { margin-bottom: 8px; }
}

.card:hover { border: 1.5px solid var(--gray-400); }

/* My services section */

#services { 
  height: 480px;
  padding: 88px 120px 120px 120px;
}

.service-cards {
  margin-top: 56px; 
  display: flex;
  gap: 24px;
  justify-content: center;
}

.service-card {
  padding: 20px;
  width: 280px;
  height: 155px;
  border: 2px solid var(--gray-200);
  border-radius: 12px;

  & i {
    display: inline-block;
    margin-bottom: 20px;
  }

  & h3 { margin-bottom: 8px; }
}

/* My contact section */
#contact { padding: 128px 120px 200px 120px; }

.social-buttons { 
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.social-button {
  width: 400px;
  height: 68px;
  padding: 20px;
  background-color: var(--gray-300);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-button:hover {
  border: 1.5px solid var(--blue);
}

.social-description { display: flex; }